.calc__container {
  position: relative;
}

/* .calc__container>* {
  position: relative;
  z-index: 1;
} */

.swiper-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.swiper-slide {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.swiper-button-prev, .swiper-button-next {
  color: #666;
}

.swiper-pagination-bullet:hover {
  background-color: var(--black-haze);
  border: 1px solid white;
  opacity: 0.5;
}

.swiper-pagination-bullet-active {
  background-color: white;
}

.swiper-button-prev:hover, .swiper-button-next:hover {
  color: var(--peel);
}

.swiper-button-prev:active, .swiper-button-next:active {
  color: var(--active);
}

.calc__content {
  /* max-width: 1770px;

 background-image: url(../img/calc_background.jpg);
background-position: center;
background-repeat: no-repeat;
background-size: cover;*/
  padding: 104px 596px 92px 76px;
}

.calc__title {
  position: relative;
  z-index: 5;
  margin-bottom: 20px;
}

.calc__descr {
  position: relative;
  z-index: 5;
  margin-bottom: 95px;
  width: 75%;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: var(--back-text);
}

.calc__btn {
  position: relative;
  z-index: 5;
  border: none;
  transition: background-color .3s ease;
}

.calc__btn:hover {
  background-color: var(--orange-peel);
  cursor: pointer;
}

.calc__btn:active {
  background-color: var(--active)
}
